body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(153deg, #070707, #575858);
    margin: 0;
    padding: 0;
    color: white;
}

.barra {
    
    background: linear-gradient(115deg, #122a7a, #0faaaf);
    padding: 20px;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(15deg, #121622, #232929);
}

.member {
    margin-top: 2px;;
    background: rgb(8, 8, 8);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, background 0.3s;
    position: relative;
}

.member:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
}

.member img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.member .default {
    opacity: 1;
}

.member .hover {
    opacity: 0;
}

.member:hover .default {
    opacity: 0;
}

.member:hover .hover {
    opacity: 1;
}

h2 {
    margin: 220px 0 5px;
    font-size: 20px;
    color: #ffcc00;
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: white;
}